<br/>
<h2 class="page-header">Problems</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Difficulty</th>
    <th scope="col">Date of Solution</th>
    <th scope="col">Solved</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let problem of problems" (dblclick)="onClickProblem(problem.name)">
    <th scope="row">{{problem.name}}</th>
    <td>{{problem.difficulty}}</td>
    <td>{{problemInfo.get(problem.name).dateSol}}</td>
    <td>
      <div *ngIf="problemInfo.get(problem.name).solved; else elseBlock">&#10004;</div>
      <ng-template #elseBlock>&#10060;</ng-template>
    </td>
  </tr>
  </tbody>
</table>
