<br/>

<h1>{{(problem === undefined)?'':problem.name}}</h1>
<div *ngIf="problem?.type==='open'">
  <p style="white-space: pre-wrap;">{{(problem === undefined)?'':problem.paragraph}}</p>
  <ngx-codemirror [(ngModel)]="solution_code"
                  [options]="{
                  lineNumbers: true,
                  theme: 'material',
                  mode: 'text/x-c++src',
                  indentUnit: 4,
                  indentWithTabs: true,
                  autoCloseBrackets: true
                }">{{solution_code}}</ngx-codemirror>
  <br/>
  <button type="button" class="btn btn-primary" (click)="onSubmitSolution(solution_code)">Submit</button>
  <br/>
  <div *ngIf="isSuccess != undefined">{{feedback_msg}}</div>
</div>

<div *ngIf="problem?.type==='close'">
  <p style="white-space: pre-wrap;">{{problem.paragraph}}</p>
  <table class="table table-hover">
    <tbody>
    <tr *ngFor="let sol of problem.solutions" (click)="onSolveClosed(sol)" class="change-cursor">
      <button type="button" class="btn btn-primary btn-lg btn-block">{{ sol }}</button>
    </tr>
    </tbody>
  </table>

  <!-- <div *ngIf="isSuccess != undefined">{{feedback_msg}}</div> -->
  <div *ngIf="isSuccess == true" class="alert alert-dismissible alert-success">
    <strong>{{feedback_msg}}</strong>
  </div>
  <div *ngIf="isSuccess == false" class="alert alert-dismissible alert-danger">
    <strong>{{feedback_msg}}</strong>
  </div>

</div>


