.list {
  width: 25%;
}

.info {
  width: 75%;
}

.sub-table{
  background-color: #f5f5f5;
}

.my-dropdown::after{
  content: '˅';
  font-family: "Courier New", serif;
  float: right;
}

.order-radio{
  float: left;
  margin-left: 20px;
}

.radio-label{
  float: left;
}

.search-form{
  margin-bottom: 0;
}



