<br/>
<div class="jumbotron" style="border-color: black; border-style: dotted; border-radius: 5px">
  <h2 class="page-header">Setup Test</h2>
  <hr class="my-4">
  <h4 class="subheader">Select the categories of the test:</h4>
  <div class="filters">
    <fieldset>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category1" [(ngModel)]="filterDCL">
          <label class="custom-control-label" for="category1">Declarations and Initialization</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category2" [(ngModel)]="filterEXP">
          <label class="custom-control-label" for="category2">Expressions</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category3" [(ngModel)]="filterINT">
          <label class="custom-control-label" for="category3">Integers</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category4" [(ngModel)]="filterCTR">
          <label class="custom-control-label" for="category4">Containers</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category5" [(ngModel)]="filterSTR">
          <label class="custom-control-label" for="category5">Characters and Strings</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category6" [(ngModel)]="filterMEM">
          <label class="custom-control-label" for="category6">Memory Management</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category7" [(ngModel)]="filterFIO">
          <label class="custom-control-label" for="category7">Input Output</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category8" [(ngModel)]="filterERR">
          <label class="custom-control-label" for="category8">Exceptions and Error Handling</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category9" [(ngModel)]="filterOOP">
          <label class="custom-control-label" for="category9">Object Oriented Programming</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category10" [(ngModel)]="filterCON">
          <label class="custom-control-label" for="category10">Concurrency</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="category11" [(ngModel)]="filterMSC">
          <label class="custom-control-label" for="category11">Miscellaneous</label>
        </div>
      </div>
    </fieldset>
  </div>
  <hr class="my-4">
  <h4 class="subheader">Select number of problems:</h4>
  <div class="form-group num-questions-form">
    <select [(ngModel)]="numProblems" class="custom-select">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
    </select>
  </div>
  <hr class="my-4">
  <div class="text-center">
    <a class="btn btn-primary" (click)="startTest()">Start Test!</a>
  </div>
</div>

