<div class="jumbotron text-center">
  <h1>Cyber-Trainer</h1>
  <p class="lead">Welcome to our project</p>
  <div>
    <a *ngIf="user === undefined" class="btn btn-primary" [routerLink]="['/register']">Register</a> <a *ngIf="user === undefined" class="btn btn-default" [routerLink]="['/login']">Login</a>
    <p *ngIf="user !== undefined">Welcome, {{ user.name }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
  </div>
</div>
<br/>
