<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Rafael-Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto navbar-left">
      <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/problems']">Problems</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/test']">Tests</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/leaderboard']">Leaderboard</a>
      </li>
      <li *ngIf="authService.isLoggedIn() && authService.isAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/stats']">Stats</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item">
        <a class="nav-link" (click)="onLogoutClick()" href="#">Logout<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div *ngIf="authService.isLoggedIn()" (mouseenter)="changeSearchHover()" (mouseleave)="changeSearchHover()">
      <form class="form-inline my-2 my-lg-0">
        <input #searchBox id="search-box" class="form-control mr-sm-2" type="text" placeholder="Search" autocomplete="off" (input)="search(searchBox.value)" (focus)="changeSearchFocus()" (blur)="changeSearchFocus()">
      </form>
      <ul class="list-group search-results" *ngIf="isSearchInFocus || isHoveringSearch">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of users$ | async" >
          <a routerLink="/user/{{user.username}}">
            {{user.username}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
