<br/>
<h2 class="page-header">{{language}}</h2>
<div class="problems">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Difficulty</th>
      <th scope="col">Points</th>
      <th scope="col">Date of Solution</th>
      <th scope="col">Solved</th>
    </tr>
    </thead>
    <tbody *ngIf="problemInfo">
      <tr *ngFor="let problem of problems" (click)="onClickProblem(problem.name)" class="change-cursor">
        <th scope="row">{{problem.name}}</th>
        <td>{{problem.difficulty}}</td>
        <td>{{problem.points}}</td>
        <td>{{(problemInfo.get(problem.name) === undefined)?'':(problemInfo.get(problem.name).dateSol)}}</td>
        <td>
          <div *ngIf="(problemInfo.get(problem.name)===undefined)?false:(problemInfo.get(problem.name).solved == true); else elseBlock">&#10004;</div>
          <ng-template #elseBlock>&#10060;</ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="filters">
  <fieldset>
    <legend>Difficulty</legend>
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="difficulty1" [(ngModel)]="filterEasy" (change)="updateFilter()">
        <label class="custom-control-label" for="difficulty1">Easy</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="difficutly2" [(ngModel)]="filterMedium" (change)="updateFilter()">
        <label class="custom-control-label" for="difficutly2">Medium</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="difficulty3" [(ngModel)]="filterHard" (change)="updateFilter()">
        <label class="custom-control-label" for="difficulty3">Hard</label>
      </div>
    </div>
    <legend>Category</legend>
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="category1" [(ngModel)]="filterDCL" (change)="updateFilter()">
        <label class="custom-control-label" for="category1">Declarations and Initialization</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="category2" [(ngModel)]="filterEXP" (change)="updateFilter()">
        <label class="custom-control-label" for="category2">Expressions</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="category3" [(ngModel)]="filterINT" (change)="updateFilter()">
        <label class="custom-control-label" for="category3">Integers</label>
      </div>
    </div>
  </fieldset>
</div>
